/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "Urbanist", sans-serif;
  line-height: 1;
}
@media (max-width: 1024px) {
  body {
    font-size: clamp(1rem, 0.625rem + 0.78vw, 1.125rem);
  }
}
body a {
  color: #000;
}

.container {
  position: relative;
  max-width: 1654px;
  padding-inline: 48px;
  margin-inline: auto;
}
@media (max-width: 768px) {
  .container {
    padding-inline: clamp(1rem, -0.429rem + 7.14vw, 3rem);
  }
}

.hidden {
  display: none !important;
}

.section {
  padding-block: clamp(5.5rem, 4.591rem + 4.55vw, 7.5rem);
}
.section-title {
  font-size: clamp(2.875rem, 2.136rem + 3.69vw, 4.5rem);
  text-transform: capitalize;
}
.section-subtitle {
  font-size: clamp(1.375rem, 1.318rem + 0.28vw, 1.5rem);
  line-height: 1.4;
  font-weight: 300;
  color: #4f4f4f;
}

.header {
  background: #ffffff;
  padding-bottom: 2rem;
}
.header-nav {
  display: grid;
  padding-block: 1.8rem;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .header-nav-main {
    display: none;
  }
}
.header-nav-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
@media (max-width: 1024px) {
  .header-nav-main__list {
    gap: clamp(2.25rem, 4.69vw, 3rem);
  }
}
.header-nav-main__list-item a {
  color: #4f4f4f;
  font-weight: 500;
}
.header-nav-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
}
@media (max-width: 768px) {
  .header-nav-account {
    display: none;
  }
}
.header-nav-account a:not(:last-child) {
  margin-right: 24px;
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  margin-top: 48px;
  text-wrap: balance;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    line-height: 1.1;
    gap: 12px;
  }
}
.header-top__title {
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
}
@media (max-width: 1440px) {
  .header-top__title {
    font-weight: 450;
  }
}
@media (max-width: 1024px) {
  .header-top__title {
    font-size: clamp(4.5rem, 3rem + 3.13vw, 5rem);
  }
}
@media (max-width: 768px) {
  .header-top__title {
    font-size: clamp(3.25rem, 2.357rem + 4.46vw, 4.5rem);
  }
}
.header-top__title svg {
  width: 0.64em;
}
.header-top__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  margin-left: auto;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: right;
  color: #4f4f4f;
  text-transform: capitalize;
}
.header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100vh - 250px);
}
.header-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
}
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  gap: 16px;
  margin-top: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 36px;
}
.header-bottom__line {
  height: 1px;
  background: #000;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .header-bottom__line {
    display: none;
  }
}
.header-bottom__text {
  text-wrap: nowrap;
}
@media (max-width: 1440px) {
  .header-bottom__text {
    font-size: clamp(1.75rem, 0.519rem + 1.92vw, 2.25rem);
  }
}
@media (max-width: 1024px) {
  .header-bottom__text {
    text-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    line-height: 1.1;
  }
}
.header__btn {
  margin: 24px 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.why-choose {
  background: #ffffff;
  border-top: 1px solid rgba(42, 45, 52, 0.1019607843);
}
.why-choose__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 72px;
}
@media (max-width: 1024px) {
  .why-choose__container {
    gap: clamp(3rem, 2.318rem + 3.41vw, 4.5rem);
  }
}
.why-choose__heading {
  text-align: center;
  margin-bottom: clamp(3.25rem, 2.705rem + 2.73vw, 4.75rem);
}
.why-choose-reason {
  display: grid;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why-choose-reason.reversed .why-choose-reason__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1024px) {
  .why-choose-reason.reversed .why-choose-reason__img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media (max-width: 1024px) {
  .why-choose-reason {
    grid-template-columns: 1fr;
  }
}
.why-choose-reason__img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}
.why-choose-reason__title {
  font-size: clamp(2.75rem, 1.519rem + 1.92vw, 3.25rem);
  margin-top: 20px;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .why-choose-reason__title {
    font-size: clamp(2rem, 1.659rem + 1.7vw, 2.75rem);
    margin-bottom: clamp(0.75rem, 0.523rem + 1.14vw, 1.25rem);
  }
}
.why-choose-reason__text {
  font-size: clamp(1.25rem, 1.17rem + 0.4vw, 1.5rem);
  line-height: 1.4;
  font-weight: 300;
  color: #4f4f4f;
}
.why-choose-reason__btn {
  margin-top: 24px;
}
@media (max-width: 1024px) {
  .why-choose-reason__btn {
    margin-top: clamp(0.75rem, 0.523rem + 1.14vw, 1.25rem);
  }
}

.shop {
  background-color: #f5f5f5;
}
.shop-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .shop-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.shop-heading .section-subtitle {
  max-width: 50%;
}
@media (max-width: 768px) {
  .shop-heading .section-subtitle {
    max-width: 100%;
    margin-top: 24px;
  }
}
.shop-tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4f4f4f;
}
@media (max-width: 576px) {
  .shop-tabs {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.shop-tabs__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  gap: 50px;
  border-bottom: 1px solid rgba(42, 45, 52, 0.1019607843);
  margin-bottom: 48px;
}
@media (max-width: 576px) {
  .shop-tabs__buttons {
    display: none;
  }
}
.shop-tabs__btn {
  line-height: 2;
}
.shop-tabs__btn.active {
  color: #000;
  font-weight: 550;
  border-bottom: 1px solid #000;
}
.shop-tabs__dropdown {
  display: none;
}
@media (max-width: 576px) {
  .shop-tabs__dropdown {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #000;
    font-weight: 500;
    margin: 48px 0 24px;
    padding-block: 0.25em;
    border-bottom: 1px solid rgba(42, 45, 52, 0.1019607843);
    text-transform: uppercase;
    border-radius: 0;
  }
  .shop-tabs__dropdown:focus, .shop-tabs__dropdown:active {
    outline: 0;
  }
}
.shop-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 96px 48px;
}
@media (max-width: 1024px) {
  .shop-products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: clamp(4.375rem, 3.636rem + 3.69vw, 6rem);
  }
}
.shop-products-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shop-products-card--reduced {
  position: relative;
}
.shop-products-card--reduced::after {
  position: absolute;
  color: #fff;
  background-color: #000;
  content: "- 30%";
  text-transform: uppercase;
  right: 0;
  top: 0;
  padding: 0.3rem 0.6rem;
}
.shop-products-card--new {
  position: relative;
}
.shop-products-card--new::after {
  position: absolute;
  color: #fff;
  background-color: #000;
  content: "new";
  text-transform: uppercase;
  right: 0;
  top: 0;
  padding: 0.3rem 0.6rem;
}
.shop-products-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #ffffff;
  height: 300px;
}
.shop-products-card__img img {
  margin: 0 auto;
  padding: 2rem;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.shop-products-card__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  gap: 20px;
}
.shop-products-card__descr::after {
  position: absolute;
  content: url("/img/icons/plus.svg");
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
}
.shop-products-card__item {
  text-transform: uppercase;
  font-weight: 500;
}
.shop-products-card__price {
  font-size: 20px;
  font-weight: 550;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-block: 4.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  max-width: 1558px;
  text-align: center;
  background-image: url("/img/subscription.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscription-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.9019607843);
  max-width: 720px;
}
.subscription-heading__title {
  text-wrap: balance;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 576px) {
  .subscription-heading__title {
    font-size: clamp(2.25rem, 0.766rem + 7.42vw, 3.438rem);
  }
}
@media (max-width: 576px) {
  .subscription-heading__subtitle {
    font-size: clamp(1.25rem, 1.016rem + 1.17vw, 1.438rem);
  }
}
.subscription-heading__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  margin-top: 36px;
  border-bottom: 1px solid #000;
}
@media (max-width: 576px) {
  .subscription-heading__form {
    width: 85%;
  }
}
.subscription-heading__email {
  line-height: 2;
  width: 100%;
}
.subscription-heading__email::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 300;
}
.subscription-heading__email::-moz-placeholder {
  font-size: 20px;
  font-weight: 300;
}
.subscription-heading__email:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 300;
}
.subscription-heading__email::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 300;
}
.subscription-heading__email::placeholder {
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 576px) {
  .subscription-heading__email::-webkit-input-placeholder {
    font-size: clamp(1rem, 0.688rem + 1.56vw, 1.25rem);
    line-height: 1.5;
  }
  .subscription-heading__email::-moz-placeholder {
    font-size: clamp(1rem, 0.688rem + 1.56vw, 1.25rem);
    line-height: 1.5;
  }
  .subscription-heading__email:-ms-input-placeholder {
    font-size: clamp(1rem, 0.688rem + 1.56vw, 1.25rem);
    line-height: 1.5;
  }
  .subscription-heading__email::-ms-input-placeholder {
    font-size: clamp(1rem, 0.688rem + 1.56vw, 1.25rem);
    line-height: 1.5;
  }
  .subscription-heading__email::placeholder {
    font-size: clamp(1rem, 0.688rem + 1.56vw, 1.25rem);
    line-height: 1.5;
  }
}
@media (max-width: 576px) {
  .subscription-heading__email {
    font-size: 16px;
  }
}

.footer {
  color: #fff;
  background: #111111;
  padding: 4.8rem 0 2rem;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
  }
}
@media (max-width: 576px) {
  .footer-content {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}
.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
@media (max-width: 1024px) {
  .footer-col:nth-child(4) {
    grid-column-start: 2;
  }
}
@media (max-width: 576px) {
  .footer-col:nth-child(4) {
    grid-column-start: 1;
  }
  .footer-col:nth-child(2) {
    grid-column-start: 1;
  }
}
.footer-col__logo {
  margin-bottom: 12px;
}
.footer-col__copyright {
  display: block;
  margin-top: 32px;
  color: #4f4f4f;
  line-height: 1.5;
  font-size: clamp(0.75rem, 0.673rem + 0.38vw, 1rem);
  text-transform: capitalize;
}
.footer-col__title {
  text-transform: uppercase;
  font-weight: 350;
  margin-bottom: 20px;
}
.footer-col__link {
  margin-bottom: 12px;
  line-height: 2;
  color: #4f4f4f;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
}
.footer-col__link:hover {
  color: #fff;
}
.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-social-links__link {
  color: #4f4f4f;
  margin-bottom: 12px;
  line-height: 2;
}
.footer-social-links__link:hover {
  color: #fff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: clamp(2rem, 1.886rem + 0.57vw, 2.25rem);
}
.logo__img {
  height: clamp(2rem, 1.886rem + 0.57vw, 2.25rem);
}

.btn {
  position: relative;
  display: inline-block;
  width: 140px;
  color: #000;
  text-transform: uppercase;
  line-height: 1.5;
  border-bottom: 1px solid #111111;
  cursor: pointer;
}
.btn::after {
  position: absolute;
  top: 0;
  right: 0;
  content: url("/img/icons/arrow.svg");
  width: 12px;
  height: 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn:hover::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn--big {
  width: 240px;
  font-size: 24px;
  font-weight: 500;
}
.btn--big::after {
  width: 16px;
  height: 16px;
}/*# sourceMappingURL=main.css.map */