/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "Urbanist", sans-serif;
  line-height: 1;
}
body a {
  color: #000;
}

.container {
  position: relative;
  max-width: 1654px;
  padding-left: 48px;
  padding-right: 48px;
  margin-inline: auto;
}
.container--small {
  max-width: 800px;
}

.hidden {
  display: none !important;
}

.section {
  padding-block: 7.5rem;
}
.section-title {
  font-size: 72px;
  text-transform: capitalize;
}
.section-subtitle {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;
  color: #4f4f4f;
  margin-top: 24px;
}

.header {
  padding-bottom: 2rem;
}
.header-nav {
  display: grid;
  padding-block: 1.8rem;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
.header-nav-logo {
  font-size: 36px;
}
.header-nav-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.header-nav-main__list-item a {
  color: #4f4f4f;
  font-weight: 500;
}
.header-nav-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
}
.header-nav-account img {
  margin-right: 24px;
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.header-top__title {
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
}
.header-top img {
  height: 82px;
}
.header-top__slogan {
  width: 100px;
  margin-left: auto;
  text-align: right;
  color: #4f4f4f;
  text-transform: capitalize;
  line-height: 1.2;
}
.header-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100vh - 350px);
}
.header-img img {
  -o-object-fit: cover;
     object-fit: cover; /* Cover  means that the img will fill the box and preserve its aspect ratio  */
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
}
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  gap: 16px;
  margin-top: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 36px;
}
.header-bottom__line {
  height: 1px;
  background: #000;
  width: 20%;
}

.why-choose {
  border-top: 1px solid rgba(42, 45, 52, 0.1019607843);
}
.why-choose__container {
  display: grid;
  gap: 72px 150px;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why-choose__heading {
  text-align: center;
  margin-bottom: 76px;
}
.why-choose__img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}
.why-choose-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.why-choose-reason__title {
  font-size: 52px;
  margin-bottom: 24px;
}
.why-choose-reason__text {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;
  color: #4f4f4f;
  margin-bottom: 24px;
}

.shop {
  background-color: #f5f5f5;
}
.shop-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shop-heading .section-subtitle {
  max-width: 50%;
}
.shop-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4f4f4f;
}
.shop-tabs__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  gap: 50px;
  border-bottom: 1px solid rgba(42, 45, 52, 0.1019607843);
  margin-bottom: 48px;
}
.shop-tabs__btn {
  line-height: 2;
}
.shop-tabs__btn--active {
  color: #000;
  font-weight: 550;
}
.shop-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 96px 48px;
}
.shop-products-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shop-products-card--reduced {
  position: relative;
}
.shop-products-card--reduced::after {
  position: absolute;
  color: #fff;
  background-color: #000;
  content: "- 30%";
  text-transform: uppercase;
  right: 0;
  top: 0;
  padding: 0.3rem 0.6rem;
}
.shop-products-card--new {
  position: relative;
}
.shop-products-card--new::after {
  position: absolute;
  color: #fff;
  background-color: #000;
  content: "new";
  text-transform: uppercase;
  right: 0;
  top: 0;
  padding: 0.3rem 0.6rem;
}
.shop-products-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #ffffff;
  height: 300px;
}
.shop-products-card__img img {
  margin: 0 auto;
  padding: 2rem;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.shop-products-card__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  gap: 20px;
}
.shop-products-card__descr::after {
  position: absolute;
  content: url("/img/icons/plus.svg");
  right: -3.5px;
  top: -3.4px;
  vertical-align: baseline;
}
.shop-products-card__item {
  text-transform: uppercase;
  font-weight: 500;
}
.shop-products-card__price {
  font-size: 20px;
  font-weight: 550;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  max-width: 1654px;
  text-align: center;
  background-image: url("/img/subscription.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscription-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background: #ffffff;
}
.subscription-heading__title {
  text-wrap: pretty;
}
.subscription-heading__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-top: 36px;
  border-bottom: 1px solid #000;
}
.subscription-heading__email {
  line-height: 2;
  width: 100%;
}
.subscription-heading__email::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 300;
}
.subscription-heading__email::-moz-placeholder {
  font-size: 20px;
  font-weight: 300;
}
.subscription-heading__email:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 300;
}
.subscription-heading__email::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 300;
}
.subscription-heading__email::placeholder {
  font-size: 20px;
  font-weight: 300;
}/*# sourceMappingURL=main.css.map */