.header {
  background: $secondary-bg-color;
  padding-bottom: 2rem;
  &-nav {
    display: grid;
    padding-block: 1.8rem;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;

    &-logo {
      display: flex;
      align-items: center;
      gap: 8px;

      .logo {
      }
    }
    &-main {
      @include small-tablet() {
        display: none;
      }
      &__list {
        display: flex;
        gap: 48px;

        @include tablet() {
          gap: clamp(2.25rem, 4.69vw, 3rem);
        }

        &-item {
          a {
            color: $text-color-muted;
            font-weight: 500;
          }
        }
      }
    }

    &-account {
      display: flex;
      justify-self: end;
      @include small-tablet() {
        display: none;
      }
      a {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
  &-top {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 48px;
    text-wrap: balance;
    line-height: 1.2;

    @include small-tablet() {
      flex-direction: column-reverse;
      line-height: 1.1;
      gap: 12px;
    }

    &__title {
      font-size: 80px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: -1px;
      text-align: center;
      @include desktop() {
        font-weight: 450;
      }
      @include tablet() {
        font-size: clamp(4.5rem, 3rem + 3.13vw, 5rem);
      }
      @include small-tablet() {
        font-size: clamp(3.25rem, 2.357rem + 4.46vw, 4.5rem);
      }
      svg {
        width: 0.64em;
      }
    }

    &__slogan {
      display: flex;
      flex-direction: column;
      width: 150px;
      margin-left: auto;
      align-self: center;
      text-align: right;
      color: $text-color-muted;
      text-transform: capitalize;
    }
  }
  &-img {
    display: flex;
    max-height: calc(100vh - 250px);

    img {
      object-fit: cover; /* Cover  means that the img will fill the box and preserve its aspect ratio  */
      object-position: bottom;
      width: 100%;
    }
  }
  &-bottom {
    display: flex;
    line-height: 1.5;
    gap: 16px;
    margin-top: 18px;
    align-items: center;
    justify-content: flex-end;
    font-size: 36px;

    &__line {
      height: 1px;
      background: $text-color;
      flex-basis: 20%;
      margin-left: auto;
      @include tablet() {
        display: none;
      }
    }
    &__text {
      text-wrap: nowrap;
      @include desktop() {
        font-size: clamp(1.75rem, 0.519rem + 1.92vw, 2.25rem);
      }
      @include tablet() {
        text-wrap: wrap;
        margin: 0 auto;
        text-align: center;
        line-height: 1.1;
      }
    }
  }
}
