.header {
  padding-bottom: 2rem;
  &-nav {
    display: grid;
    padding-block: 1.8rem;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    &-logo {
      font-size: 36px;
    }
    &-main {
      &__list {
        display: flex;
        gap: 48px;
        &-item {
          a {
            color: $text-color-muted;
            font-weight: 500;
          }
        }
      }
    }

    &-account {
      display: flex;
      justify-self: end;
      img {
        margin-right: 24px;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
  &-heading {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &__title {
      font-size: 80px;
      font-weight: 400;
      text-transform: uppercase;
      // letter-spacing: -1px;
      line-height: 1.2;
    }
    img {
      height: 82px;
    }
    &__slogan {
      width: 100px;
      margin-left: auto;
      text-align: right;
      color: $text-color-muted;
      text-transform: capitalize;
      line-height: 1.2;
    }
  }
  &-img {
    display: flex;

    max-height: calc(100vh - 350px);

    img {
      object-fit: cover; /* Cover  means that the img will fill the box and preserve its aspect ratio  */
      object-position: bottom;
      width: 100%;
    }
  }
  &-subheading {
    margin-top: 18px;
    font-size: 36px;
    margin-left: auto;
  }
}
