.shop {
  background-color: $primary-bg-color;
  &-heading {
    display: flex;
    justify-content: space-between;
    .section-subtitle {
      max-width: 50%;
    }
  }
  &-tabs {
    display: flex;
    justify-content: center;

    color: $text-color-muted;
    &__buttons {
      display: flex;
      margin-top: 96px;
      gap: 50px;
      border-bottom: 1px solid $border-color;
      margin-bottom: 48px;
    }
    &__btn {
      line-height: 2;
      &--active {
        color: $text-color;
        font-weight: 550;
      }
    }
  }
  &-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 96px 48px;

    &-card {
      display: flex;
      flex-direction: column;
      &--reduced {
        position: relative;
        &::after {
          @include corner-tag("- 30%");
        }
      }
      &--new {
        position: relative;

        &::after {
          @include corner-tag("new");
        }
      }
      &__img {
        display: flex;
        align-items: center;
        width: 100%;
        background: $secondary-bg-color;
        height: 300px;

        img {
          margin: 0 auto;
          padding: 2rem;
          max-height: 100%;
          max-width: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
      &__descr {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: 24px;
        gap: 20px;
        &::after {
          position: absolute;
          content: url("/img/icons/plus.svg");
          right: -3.5px;
          top: -3.4px;
          vertical-align: baseline;
        }
      }
      &__item {
        text-transform: uppercase;
        font-weight: 500;
      }
      &__price {
        font-size: 20px;
        font-weight: 550;
      }
    }
  }
}
