.why-choose {
  background: $secondary-bg-color;
  border-top: 1px solid $border-color;
  &__container {
    display: grid;
    gap: 72px 150px;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    align-items: center;
  }
  &__heading {
    text-align: center;
    margin-bottom: 76px;
  }
  &__img {
    align-self: center;
    width: 100%;
  }
  &-reason {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      font-size: 52px;
      margin-bottom: 24px;
    }
    &__text {
      font-size: 24px;
      line-height: 1.4;
      font-weight: 300;
      color: $text-color-muted;
      margin-bottom: 24px;
    }
  }
}
