@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: $primary-bg-color;
  color: $text-color;
  font-size: 18px;
  font-weight: 400;
  font-family: $font-main;
  line-height: 1;

  a {
    color: $text-color;
  }
}

.container {
  position: relative;
  max-width: $container-size;
  padding-left: 48px;
  padding-right: 48px;
  margin-inline: auto;
  &--small {
    max-width: 800px;
  }
}

.hidden {
  display: none !important;
}
