@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: $primary-bg-color;
  color: $text-color;
  font-size: 24px;
  font-weight: 400;
  font-family: $font-main;
  line-height: 1;

  a {
    color: $text-color;
  }
}

.hidden {
  display: none !important;
}
