@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: $primary-bg-color;
  color: $text-color;
  font-size: 18px;
  font-weight: 400;
  font-family: $font-main;
  line-height: 1;
  @include tablet() {
    font-size: clamp(1rem, 0.625rem + 0.78vw, 1.125rem);
  }

  a {
    color: $text-color;
  }
}

.container {
  position: relative;
  max-width: $container-size;
  padding-inline: $container-padding;
  margin-inline: auto;
  @include small-tablet() {
    padding-inline: clamp(1rem, -0.429rem + 7.14vw, 3rem);
  }
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}
