@mixin dual-screen() {
  @media (width >= 2000px) {
    @content;
  }
}

@mixin big-screen() {
  @media (max-width: 1654px) {
    @content;
  }
}

@mixin desktop() {
  @media (max-width: 1360px) {
    @content;
  }
}

@mixin desktop-small() {
  @media (max-width: 1165px) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: 890px) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: 629px) {
    @content;
  }
}

@mixin corner-tag($content) {
  position: absolute;
  color: $text-color-white;
  background-color: $text-color;
  content: $content;
  font-size: 16px;
  text-transform: uppercase;
  right: 0;
  top: 0;
  padding: 0.3rem 0.6rem;
}
