$font-main: "Inter", sans-serif;
$text-color: #222222;
$text-color-muted: #4f4f4f;
$text-color-white: #fff;
$text-color-footer: #cccccc;

$hero-bg-color: #8e9eab;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f8f8f8;
$accent-color: #2a2d34;

$btn-text-color: rgba(255, 255, 255, 0.7);
$border-color: #2a2d341a;
