$font-main: "Urbanist", sans-serif;
$text-color: #000;
$text-color-muted: #4f4f4f;
$text-color-white: #fff;
$text-color-footer: #cccccc;

$secondary-bg-color: #ffffff;
$primary-bg-color: #f5f5f5;
$accent-color: #111111;

$btn-text-color: rgba(255, 255, 255, 0.7);
$border-color: #2a2d341a;

$container-size: 1654px;
$container-padding: 48px;
