.btn {
  position: relative;
  display: inline-block;
  width: 140px;
  color: $text-color;
  text-transform: uppercase;
  line-height: 1.5;
  border-bottom: 1px solid $border-color-black;
  cursor: pointer;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: url("/img/icons/arrow.svg");
    width: 12px;
    height: 12px;
    transition: all 0.2s ease;
  }
  &:hover {
    &::after {
      transform: rotate(-45deg);
    }
  }
  &--big {
    width: 240px;
    font-size: 24px;
    font-weight: 500;
    @include tablet() {
      font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.5rem);
      width: clamp(11.25rem, 9.545rem + 8.52vw, 15rem);
    }
    &::after {
      width: 16px;
      height: 16px;
    }
  }
}
